In [1]:
import pandas as pd

In [2]:
cred_bal = pd.read_csv("DataSet/credit_bureau_balance.csv")
loan_test = pd.read_csv("DataSet/loan_applications_test.csv")
prev_credit_cards = pd.read_csv("DataSet/previous_credit_cards.csv")
prev_credits = pd.read_csv("DataSet/previous_credits.csv")
prev_loan_apps = pd.read_csv("DataSet/previous_loan_applications.csv")
prev_pos_cash_loans = pd.read_csv("DataSet/previous_pos_cash_loans.csv")
repayment_hist = pd.read_csv("DataSet/repayment_history.csv")

In [3]:
prev_credits = pd.merge(cred_bal, prev_credits, on='sk_id_bureau')


merged_data = pd.merge(loan_test, prev_credits, on='sk_id_curr', how='left')


bureau_agg = prev_credits.groupby('sk_id_curr').agg({'amt_credit_sum': 'sum',
                                                     'amt_credit_max_overdue': 'max',
                                                     'amt_credit_sum_debt': 'sum',
                                                     'amt_credit_sum_limit': 'sum'}).reset_index()


credit_cards_agg = prev_credit_cards.groupby('sk_id_curr').agg({'amt_balance': 'sum',
                                                                'amt_credit_limit_actual': 'max',
                                                                'amt_drawings_atm_current': 'sum'}).reset_index()


loan_app_agg = prev_loan_apps.groupby('sk_id_curr').agg({'amt_annuity': 'sum',
                                                          'amt_application': 'sum',
                                                          'amt_credit': 'sum'}).reset_index()


pos_cash_loans_agg = prev_pos_cash_loans.groupby('sk_id_curr').agg({'cnt_instalment': 'sum'}).reset_index()


repayment_hist_agg = repayment_hist.groupby('sk_id_curr').agg({'amt_instalment': 'sum',
                                                               'amt_payment': 'sum'}).reset_index()

In [4]:
merged_data = pd.merge(merged_data, bureau_agg, on='sk_id_curr', how='left')
merged_data = pd.merge(merged_data, credit_cards_agg, on='sk_id_curr', how='left')
merged_data = pd.merge(merged_data, loan_app_agg, on='sk_id_curr', how='left')
merged_data = pd.merge(merged_data, pos_cash_loans_agg, on='sk_id_curr', how='left')
merged_data = pd.merge(merged_data, repayment_hist_agg, on='sk_id_curr', how='left')

In [5]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9484562 entries, 0 to 9484561
Columns: 152 entries, sk_id_curr to amt_payment
dtypes: float64(92), int64(40), object(20)
memory usage: 10.8+ GB

In [6]:
merged_data

,sk_id_curr,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit_x,amt_annuity_x,amt_goods_price,...,amt_credit_sum_limit_y,amt_balance,amt_credit_limit_actual,amt_drawings_atm_current,amt_annuity,amt_application,amt_credit_y,cnt_instalment,amt_instalment,amt_payment
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.00,NaN,NaN,NaN,3951.00,24835.5,23787.0,36.0,41195.925,41195.925
1,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.00,NaN,NaN,NaN,3951.00,24835.5,23787.0,36.0,41195.925,41195.925
2,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.00,NaN,NaN,NaN,3951.00,24835.5,23787.0,36.0,41195.925,41195.925
3,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.00,NaN,NaN,NaN,3951.00,24835.5,23787.0,36.0,41195.925,41195.925
4,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.00,NaN,NaN,NaN,3951.00,24835.5,23787.0,36.0,41195.925,41195.925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9484557,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,1631514.78,2083071.915,180000.0,180000.0,88557.84,1062661.5,1166746.5,318.0,661903.155,652249.170
9484558,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,1631514.78,2083071.915,180000.0,180000.0,88557.84,1062661.5,1166746.5,318.0,661903.155,652249.170
9484559,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,1631514.78,2083071.915,180000.0,180000.0,88557.84,1062661.5,1166746.5,318.0,661903.155,652249.170
9484560,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,1631514.78,2083071.915,180000.0,180000.0,88557.84,1062661.5,1166746.5,318.0,661903.155,652249.170
9484561,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,1631514.78,2083071.915,180000.0,180000.0,88557.84,1062661.5,1166746.5,318.0,661903.155,652249.170

In [ ]:
merged_data.to_csv("DataSet/merged_data.csv")

In [19]:
a = (list(merged_data.iloc[0,:]))
b = (list(merged_data.iloc[1,:]))

print(([type(merged_data.loc[0, merged_data.columns[x]]) for x in range(len(a)) if a[x] != b[x]]))

[<class 'numpy.float64'>, <class 'float'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'float'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>, <class 'numpy.float64'>]

In [20]:
print(set(merged_data['name_contract_type'].tolist()))

{'Revolving loans', 'Cash loans'}